<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragements/fragements :: head"></head>
<body class="bg-light">
    <div th:replace="/fragements/fragements :: main-nav"></div>
    <div th:replace="/fragements/fragements :: study-banner"></div>
    <div class="container">
        <div th:replace="/fragements/fragements :: study-infomation"></div>
        <div th:replace="/fragements/fragements :: study-menu(studyMenu='members')"></div>
        <div th:replace="/fragements/fragements :: member-list(members=${studyGroup.managers}, isManager=${true})"></div>
        <div th:replace="/fragements/fragements :: member-list(members=${studyGroup.members}, isManager=${false})"></div>
    </div>
    <div th:replace="/fragements/fragements :: footer"></div>
    <script th:replace="/fragements/fragements :: tooltip"></script>
</body>
</html>