<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragements/fragements :: head"></head>
<body class="bg-light">
    <div th:replace="/fragements/fragements :: main-nav"></div>
    <div th:if="${studyGroup.useBanner}" class="row" id="study-logo">
        <img th:src="${studyGroup.image}">
    </div>

    <div class="container">
        <div>
            <div class="row pt-4 text-left justify-content-center bg-light">
                <div class="col-6">
                    <a href="#" class="text-decoration-none" th:href="@{'/studygroup/' + ${studyGroup.path}}">
                        <span class="h2" th:text="${studyGroup.title}">스터디 이름</span>
                    </a>
                </div>
                <div class="col-4 text-right justify-content-end">
                    <span th:if="${!studyGroup.published}"
                          class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="스터디 공개 준비중">
                        <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>DRAFT</button>
                    </span>
                        <span th:if="${studyGroup.closed}"
                              class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="스터디 종료함">
                        <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>CLOSED</button>
                    </span>
                        <span th:if="${!studyGroup.recruiting}"
                              class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="팀원 모집중 아님">
                        <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>OFF</button>
                    </span>
                        <span sec:authorize="isAuthenticated()" th:if="${studyGroup.isJoinable(#authentication.principal)}"
                              class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary" th:href="@{'/studygroup/' + ${studyGroup.path} + '/join'}">
                            스터디 가입
                        </a>
                        <a class="btn btn-outline-primary" th:href="@{'/studygroup/' + ${studyGroup.path} + '/members'}"
                           th:text="${studyGroup.members.size()}">1</a>
                    </span>
                        <span sec:authorize="isAuthenticated()"
                              th:if="${!studyGroup.closed && studyGroup.isMember(#authentication.principal)}" class="btn-group" role="group">
                        <a class="btn btn-outline-warning" th:href="@{'/studygroup/' + ${studyGroup.path} + '/leave'}">
                            스터디 탈퇴
                        </a>
                        <a class="btn btn-outline-primary" th:href="@{'/studygroup/' + ${studyGroup.path} + '/members'}"
                           th:text="${studyGroup.members.size()}">1</a>
                    </span>
                        <span sec:authorize="isAuthenticated()"
                              th:if="${studyGroup.published && !studyGroup.closed && studyGroup.isManager(#authentication.principal)}">
                        <a class="btn btn-outline-primary" th:href="@{'/studygroup/' + ${studyGroup.path} + '/new-event'}">
                            <i class="fa fa-plus"></i> 모임 만들기
                        </a>
                    </span>
                </div>
            </div>
            <div class="row justify-content-center bg-light">
                <div class="col-10">
                    <p class="lead" th:text="${studyGroup.shortDescription}"></p>
                </div>
            </div>
            <div class="row justify-content-center bg-light">
                <div class="col-10">
                    <p>
                        <span th:each="tag: ${studyGroup.tags}"
                              class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                            <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                                <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                            </a>
                        </span>
                        <span th:each="zone: ${studyGroup.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                            <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                                <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}">City</span>
                            </a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row px-3 justify-content-center bg-light">
                <nav class="col-10 nav nav-tabs">
                    <a class="nav-item nav-link" href="#" th:href="@{'/studygroup/' + ${studyGroup.path}}">
                        <i class="fa fa-info-circle"></i> 소개
                    </a>
                    <a class="nav-item nav-link" href="#" th:href="@{'/studygroup/' + ${studyGroup.path} + '/members'}">
                        <i class="fa fa-user"></i> 구성원
                    </a>
                    <a class="nav-item nav-link" href="#" th:href="@{'/studygroup/' + ${studyGroup.path} + '/events'}">
                        <i class="fa fa-calendar"></i> 모임
                    </a>
                    <a sec:authorize="isAuthenticated()" th:if="${studyGroup.isManager(#authentication.principal)}"
                       class="nav-item nav-link" href="#" th:href="@{'/studygroup/' + ${studyGroup.path} + '/settings/description'}">
                        <i class="fa fa-cog"></i> 설정
                    </a>
                </nav>
            </div>
            <div class="row px-3 justify-content-center">
                <div class="col-10 pt-3" th:utext="${studyGroup.fullDescription}"></div>
            </div>
        </div>
    </div>
    <div th:replace="/fragements/fragements :: footer"></div>
    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>